.catDataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #0e0101;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100vh;
}

@media (max-width: 768px) {
  .catDataContainer {
    width: 95%;
    margin: 10px auto;
  }
}
